clientewsValemas/clientewsValemas/Web References/valemas/usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.valefiel.com/VALEFIEL/WebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.valefiel.com/VALEFIEL/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permite acceder a la funcionalidad de los usuarios y membership.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.valefiel.com/VALEFIEL/WebServices/">
      <s:element name="IniciarSesionAfiliado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionAfiliadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionAfiliadoResult" type="tns:InicioSesion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InicioSesion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDPersonaAutenticada" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IDError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RolesPermiteAcceso" type="tns:ArrayOfRoleAcceso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoleAcceso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleAcceso" nillable="true" type="tns:RoleAcceso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleAcceso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDRole" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDRole" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="tns:InicioSesion" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSesionAfiliadoSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesionAfiliado" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionAfiliadoSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionAfiliadoResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuariosSoap">
    <wsdl:operation name="IniciarSesionAfiliado">
      <wsdl:input message="tns:IniciarSesionAfiliadoSoapIn" />
      <wsdl:output message="tns:IniciarSesionAfiliadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosSoap" type="tns:UsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesionAfiliado">
      <soap:operation soapAction="https://www.valefiel.com/VALEFIEL/WebServices/IniciarSesionAfiliado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="https://www.valefiel.com/VALEFIEL/WebServices/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuariosSoap12" type="tns:UsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesionAfiliado">
      <soap12:operation soapAction="https://www.valefiel.com/VALEFIEL/WebServices/IniciarSesionAfiliado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="https://www.valefiel.com/VALEFIEL/WebServices/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuarios">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permite acceder a la funcionalidad de los usuarios y membership.</wsdl:documentation>
    <wsdl:port name="UsuariosSoap" binding="tns:UsuariosSoap">
      <soap:address location="https://www.valefiel.com/preproduccion/WebServices/usuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuariosSoap12" binding="tns:UsuariosSoap12">
      <soap12:address location="https://www.valefiel.com/preproduccion/WebServices/usuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>